* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2000ee30;
    background-image: url("images/background3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;    
}

#main-title {
    font-family: "Poetsen One", sans-serif;
    font-size: 60px;
    color: rgb(243, 237, 208);
    margin: 10px 0px 25px 10px;
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
    /* background-color: #00aa20; */
}

.links-container {
    background-image: url("images/pattern.jpg");
    font-size: 30px;
    /* color: white; */
    background-color: #a3833c;
    border: 2px outset #807919;
    position: absolute;
    padding-right: 10px;
    margin-left: 10px;
    padding: 0px 10px 5px 10px;
    /* background-color: #2000ee30; */
}

.links-container li {
    list-style: none;
}

a:hover {
    color: rgb(148, 26, 46);
}

